<!--contact --> 
      
      <hr width=1080>
      
      
      
      <div class="contactme">
        <div class="small-12 medium-12 medium-centered large-12 columns" id="a-section">
        <h4 id="contact">Lets Chat...</h4>
           </div>
      </div>
      
      
      <div class="large-6 large-centered medium-6 medium-centered small-8 small-centered coloumns" id="contact-form">
                <form name="htmlform" method="post" action="rachelc16196@gmail.com.com">
                        <input class="textbox" type="text" name="first_name" placeholder="NAME" required>
                        <input class="emailbox" type="email" name="email" placeholder="E-MAIL" required>
                        <textarea class="messagebox" name="comments" placeholder="MESSAGE" required></textarea>
                        <button name="send" type="sumbit" class="submit"><img src="img/send-01.png"> </button>
                </form>
          </div><!-- End Div Contact-Form -->
      
       <hr width=1080>
      
      
   